{% extends 'songs/base.html'%}

{% block body %}
<style >
	
.about-div{
	margin-left:7%;
	margin-right: 7%;
}
.middle{
	transition: .5 ease;
	opacity: 0;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}
.cont1{
	position:relative;
	width: 20%;
	padding: 35px;
	height: 25%;
	float: left;
}
.cont1:hover .image{
	opacity: 0.3;
}
.cont1:hover .middle{
	opacity: 1;
}
.text{
	color: black;
	font-size: 16px;
	padding: 16px 32px;
}
.image{
	display:block;
	opacity: 1;
	width:100%;
	height: auto;
	transition: .3s ease;
	backface-visibility: hidden;
}

</style>
	<div id="about">
		<div class="about-div">
			<div class = "outside" style="align-items: center">
				<div class = "cont1">
					<img src = "https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/avatar.png" alt = "Photo" class = "image" style="width:100%">
					<div class = "middle">
						<div class="text">Ansh Rathod</div>
					</div>
				</div>

				<div class = "cont1">
					<img src = "https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/avatar.png" alt = "Photo" class = "image" style="width:100%">
					<div class = "middle">
						<div class="text">Saurabh Nandy</div>
					</div>
				</div>

				<div class = "cont1">
					<img src = "https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/avatar.png" alt = "Photo" class = "image" style="width:100%">
					<div class = "middle">
						<div class="text">Meet Shah</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block footer %}

<style>
.foooter {
   position:fixed;
   left: 0%;
   bottom: 0%;
   width: 100%;
   text-align: center;
}
</style>
<footer class="foooter">
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}