{% extends "songs/base.html" %}

{% block body %}
<body>
<div class="col-md-3 col-lg-3"></div>
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="">
  <div class="jumbotron" >
  <form action='' method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-header">

            <h2 style="text-align: center;"> Add a Song </h2>
        </div>
        <br>

  <div class="form-group">
    <label >Song Title</label>
    <input type="text" class="form-control" id="title" name="title" aria-describedby="title" placeholder="Enter  song title" required>
  </div>

<div class="form-group">
    <label>Featuring</label>
    <input type="text" class="form-control" id="featuring" name="featuring" aria-describedby="featuring" placeholder="Enter artist" >
</div>

<div class="form-group">
    <label>Album Name</label>
    <input type="text" class="form-control" id="album" name="album" aria-describedby="album" placeholder="Enter Album Name" required>
</div>

<div class="form-group">
    <label>Genre</label>
    <input type="text" class="form-control" id="genre" name="genre" aria-describedby="genre" placeholder="Enter Genre Name" required>
</div>

<div class="form-group">
    <label>Lyrics</label>
    <textarea class="form-control" id="lyrics" name="lyrics" aria-describedby="lyrics" placeholder="Enter lyrics" required></textarea>
  </div>

<div class="form-group">
    <label>Youtube Link</label>
    <input type="text" class="form-control" id="link" name="link" aria-describedby="link" placeholder="Enter Youtube Link" required>
</div>

<div class="form-group">
    <label>Song Cover</label>
    <input type="file" class="form-control" id="img" name="img" aria-describedby="img" placeholder="Enter cover" required>
</div>

<div class="form-group">
    <label>Audio</label>
    <input type="file" class="form-control" id="audio" name="audio" aria-describedby="audio" placeholder="Enter audio" required>
</div>
<button type="submit" class="btn btn-primary">Add Song</button>
</form>
</div>
</div>
{% endblock %}