<!DOCTYPE html>
<html lang="en">
<style>
		body{
			background  : url("/media/background_1200.jpg") ;
			background-size:cover;
            background-repeat:repeat;
            overflow-x :hidden; 
		}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Ansh Rathod">
    <title>{% block title %} LYRICO {% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="row">
            <div class="float-left">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'songs-home'%}"><p style="color:#d82c3c;font-size:25px;margin-left:50%">LYRICO</p></a>
                </div>
            </div>  
            <div style="float:right;padding-right: 5%;margin-right:2%">
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav">
                        <li><a style="color:#fde441" href="{% url 'songs-listsongs'%}">ALL SONGS</a></li>
                        <li>
                            <form class="form-inline " method="POST" style="padding-top: 3%;">
                                {% csrf_token %}
                                <input class="form-control " type="search" placeholder="Search Song" aria-label="Search" name="search" >
                                <button class="btn btn-outline-success " type="submit">Search</button>
                            </form>
                        </li>
                        {% if user.is_authenticated %}
                            <li><a style="color:#fde441" href="{% url 'songs-profile'%}">Welcome,{{user}}</a></li>
                            <li><a style="color:#fde441" href="{% url 'songs-logout'%}">LOG OUT</a></li>
                        {% else %}
                        <li><a style="color:#fde441" href="{% url 'songs-login'%}">LOG IN</a></li>
                        <li><a style="color:#fde441" href="{% url 'songs-signup'%}">REGISTER</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
<div class="container">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{message}}
        </div>
    {% endfor %}
{% endif %}

{% block body %}
{% endblock %}
</div>
</body>
{% block footer %}
{% endblock %}

<script>
$(document).ready(function() {
   $("textarea").each(function(){	
    $(this).css("border-radius","10px");
    $(this).css("border-color","grey");
    $(this).css("resize","none");
    });
   $(".btn").each(function(){	
    $(this).css("border-radius","5px");
    $(this).css("border-color","grey");
    });
   $(".img").each(function(){	
    $(this).css("border-radius","5px");
    $(this).css("border-color","grey");
    });
   $("legend").each(function(){	
    $(this).css("border-radius","0px");
    $(this).css("border-color","grey");
    });
});
</script>
</html>