{% extends "songs/base.html" %}
{% block body %}
<div class = "well">
  <div class="col-md-6 ">
    <div class="col-md-6">{{song.img.url}}
      <img class="img-thumbnail" src="{{ song.img.url }}" style="max-width:110%;max-height:110%"><br><br>
      <div class="col-md-12">
      <audio controls style="padding-right:0%">{{song.audio.url}}
        <source src="{{ song.audio.url }}" type="audio/mpeg">
      </audio> 
    </div>
    </div>
    <div class="col-md-6">
      <h2 >{{ object.title }}</h2>
      {{ object.composer }} 
        <small class="text text-muted">{{ object.featuring}}</small><br>
      Album :
        <small class="text-muted">{{object.album}}</small>
      </div>
      {% if song.composer == user.username %}
        <div class="col-md-12">
            <a class="btn btn-warning btn-block mt-1 mb-1" href="{% url 'songs-updatesong' object.id %}">Update</a>
		      	<a class="btn btn-danger btn-block  mt-1 mb-1" href="{% url 'songs-delete' object.id%}">Delete</a>
	  		</div>
        {% elif user.username in song.featuring %}
		      	<div style="padding-top:52%">
              <a class="btn btn-warning btn-block mt-1 mb-1" href="{% url 'songs-updatesong' object.id %}">Update</a>
		      	</div>
		  {% endif %}
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe class="embed-responsive-item" src="{{ object.link }}" allowfullscreen></iframe>
      </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr>
    <pre>{{ object.lyrics }}</pre>
  <hr>
</div>
{% endblock %}
{% block footer %}


<style>
.foooter {
   position:relative;
   left: 0%;
   bottom: 0%;
   width: 100%;
   text-align: center;
}
.well{
  margin-bottom:0%;
}
</style>
<footer class="foooter" >
        <div class="well">
            <div class="row">
                <div class="col-md-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1">
                  <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col-md-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
</footer>

{% endblock %}


