{% extends "songs/base.html" %}
{% block body %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<div id="songs">
	<div class="well"style="float: right;">
		{% comment %} <form method="POST">
			{% csrf_token %}
		    <label class="radio-inline">
		      <input type="radio" name="optradio" id="az" checked>A-Z
		    </label>
		    <label class="radio-inline">
		      <input type="radio" name="optradio" id="za">Z-A
		    </label>
		    <label class="radio-inline">
		      <input type="radio" name="list" id="list">List
		    </label>
		    <label class="radio-inline">
		      <input type="radio" name="list" id="template" checked>Template
		    </label>
			<button type="submit" class="btn btn-success btn-sm">Retry</button>
		</form> {% endcomment %}
    <p class="col-md-2">Sort By:</p>
    <div class="col-md-2"><button class="sort btn btn-primary" data-sort="title">A-Z</button></div>
    <div class="col-md-2"><button class="sort btn btn-primary" data-sort="title">Z-A</button></div>
    <div class="col-md-3"><button class="sort btn btn-primary" data-sort="composer">Composer</button></div>
    <div class="col-md-2"><button class="sort btn btn-primary" data-sort="genre">Genre</button></div>
	</div>
	<br><br><br><br><br>
  <div class="well">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 text text-right"><h4>No.</h4></div>
      <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text text-left"><h4>Song Title</h4></div>
      <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text text-right"><h4>Composer</h4> </div>
      <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text text-left"><h4>Other Artists</h4></div>
      <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 text text-right"><h4>Genre</h4></div>
      <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 text text-left"><h4>Youtube link </h4></div>
    </div>
    <hr>
    <div class="list">
      {% for song,range in songs %}
        <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 text text-right">
            <span class="id">{{range }}</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text text-left " >
            <a href="{% url 'songs-details' song.id %}">
              <span class="title">{{ song.title }}</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text text-right">
            <span class="composer">{{ song.composer }}</span> 
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text text-left featuring">
            <p class="featuring mr-2">{{ song.featuring }}</p>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 text text-right">
            <span class="genre">{{ song.genre }}</span> 
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 text text-left">
            <a class='ytlink' href="{{ song.ytlink }}" >{{ song.ytlink }}</a> 
          </div>    
        </div>
       
      {% empty %}
      <div class="alert alert-danger">
        <strong><h3>NO SUCH SONG EXIST!</h3></strong>
        <p>None of our songs contain <strong>{{ searchterm }}</strong>.</p>
      </div> 
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}



{% block footer %}

<style>
.foooter {
   position:relative;
   left: 0%;
   bottom: 0%;
   width: 100%;
   text-align: center;
}
.well{
  margin-bottom:0%
}
</style>
<footer class="foooter" >
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
</footer>

<script type="text/javascript">
    var options= {
      valueNames:['title','composer','id','featuring','ytlink','genre']
    };
    console.log("hey")
    var userList = new List('songs', options);
</script>

{% endblock %}
