{% extends "songs/base.html" %}
{% block body %}
<div class="container" style="padding: 5% 25% 0% 25%">
    <div class="well" >
        <form action='' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-header">
                <h2 style="text-align: center;"> Update Song </h2>
            </div>
            <br>

            <div class="form-group">
                <label >Song Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title" placeholder="" value="{{object.title}}" required>
            </div>

            <div class="form-group">
                <label>Lyrics</label>
                <textarea class="form-control" id="lyrics" name="lyrics" aria-describedby="lyrics" required>{{ object.lyrics }}</textarea>
            </div>

            <div class="form-group">
                <label>Youtube Link</label>
                <input type="text" class="form-control" id="ytlink" name="ytlink" aria-describedby="ytlink" value="{{object.ytlink}}" required>
            </div>

            <div class="form-group">
                <label>Song Cover</label>
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-thumbnail" src="{{ object.img.url }}">
                        </div>
                    <div class="col-md-6"><br><br><br>
                        <input type="file" class="form-control" id="image" name="image" aria-describedby="image" value="{{object.img.url}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Song Audio</label>
                <div class="row">
                    <p class="col-md-1 text text-success"><br>Current:<p>
                    <audio controls class="col-md-11"style="padding-right:0%">{{song.audio.url}}
                        <source src="{{ object.audio.url }}" type="audio/mpeg">
                    </audio>
                </div> 
                <input type="file" class="form-control" id="audio" name="audio" aria-describedby="audio" value="{{ audio }}">
            </div>
            <button type="submit" class="btn btn-primary">Update Song</button>
        </form>
    </div>
</div>
{% endblock  %}