{% extends "songs/base.html" %}
{% block title %}
LYRICO - Add Profile
{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
<style>
.well{
    border-radius:10px;
    border-color:grey;
    margin-bottom:0%;
}
</style>
<div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="well col-md-6 col-sm-12 col-xs-12 col-lg-6 " style="margin-left:2%">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Profile</legend>
            </fieldset>
            <div class="col-md-12  col-sm-12">
                <img class="col-md-4 img-circle" style="max-height:100%;max-width:100%" src="{{user.profile.image.url}}">
                <div class="col-md-8 col-sm-8">
                    <div class="col-md-12">
                        <strong>Add a Profile Pic</strong>
                    </div>
                    <br><input class="form-control" type="file" placeholder="Profile-Pic" name="pic" value="{{user.profile.img.url}}" aria-label="ProfilePic" required>
                </div>
            <br>
            </div >
            <div class="col-md-12  col-sm-12"><br></div>
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 ">
                <input class="form-control mr-sm-3" type="text" name="fname" placeholder="First name" value="{{user.first_name}}" aria-label="Fname" required>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 ">
                <input class="form-control mr-sm-3" type="text" name="lname" placeholder="Last name" value="{{user.last_name}}" aria-label="Lname" required>
            </div>
            <div class="col-md-12 col-sm-12" style="display:none;">
                <br>
                <input class="form-control mr-sm-3" type="text" name="username" placeholder="Username" value="{{user.username}}"aria-label="Username" >
            </div>
            <div class="col-md-12 col-sm-12">
                <br>
                <input class="form-control mr-sm-3" type="text" name="username" placeholder="Username" value="{{user.username}}"aria-label="Username" disabled>
            </div>
            <div class="col-md-12  col-sm-12">
                <br>
                <input class="form-control mr-sm-3" type="email" name="email" placeholder="Email-id" value="{{ user.email }}"aria-label="Email" disabled>
            </div>
            <div class="col-md-12  col-sm-12">
                <br>
                <textarea type="text" class="form-control mr-sm-3" name="bio" placeholder="Your Bio" aria-label="Bio" rows="3" required>{{ user.profile.bio }}</textarea>
            </div>
            <div class="col-md-12  col-sm-12">
            <br>
                <input type="text" class="form-control mr-sm-3" name="gender" placeholder="Gender" value="{{ user.profile.gender }}" aria-label="Gender" required>
            </div>
            <div class="col-md-12  col-sm-12"><br>
            <input class="form-control mr-sm-3" type="integer" name="age" placeholder="Age" value="{{ user.profile.age }}" aria-label="Age" required>
            </div> 
            <div class="col-md-12 col-sm-12">
            <br>
            <button type="submit" class="btn btn-success" >Add to Profile</button>
           </div>
        </form>
    </div>
</div>
{% endblock  %}

{% block footer %}


<style>
.foooter {
   position:relative;
   left: 0%;
   width: 100%;
   text-align: center;
   margin-top:10%;
}
.well{
  margin-bottom:0%;
}
</style>
<footer class="foooter" >
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6  text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
</footer>
{% endblock %}