    
{% extends 'songs/base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container row">
<div class="col-md-3"></div>
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 well">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% comment %} <div class="col-md-12 col-sm-12">
                <br>
                <input class="form-control mr-sm-3" type="password" name="old_password" placeholder="Old Password" aria-label="OldPassword" >
            </div>
            <div class="col-md-12 col-sm-12">
                <br>
                <input class="form-control mr-sm-3" type="password" name="new_password1" placeholder="New Password" aria-label="NewPass1" >
            </div>
            <div class="col-md-12  col-sm-12">
                <br>
                <input class="form-control mr-sm-3" type="password" name="new_password2" placeholder="Confirm Password" aria-label="NewPass2">
            </div> {% endcomment %}
            <button  class =" btn btn-success btn-block"type="submit">Submit</button>
        </form>
    </div>
    <br>
</div>

{% endblock %}


{% block footer %}


<style>
.foooter {
   position:relative;
   left: 0%;
   width: 100%;
   text-align: center;
   margin-top:10%;
}
.well{
  margin-bottom:0%;
}
</style>
<footer class="foooter" >
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6  text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
</footer>
{% endblock %}