{% extends "songs/base.html" %}
{% block title %}
LYRICO - My profile
{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<style>
.well{
    border-radius:10px;
    border-color:grey;
    margin-bottom:0%;
}
</style>
<div class="profile well">
	<div class="row">
		<div class="col-md-3">
			<img class="img-rounded" src="{{ user.profile.image.url }}" style="max-height: 100%;max-width: 100%;">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<a href="{% url 'songs-profile'%}"style="color:grey;font-size:150%;">@{{user.username}}</a>
			<hr style="border-color:grey;">
			<p class="text text-muted">{{user.email }}</p>
			<p class="text text-muted">{{user.first_name }} {{ user.last_name}}</p>
		</div> 
		{% if thisuser == user.username %}
			<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 " style="float: right;">
				<button type="button" class="col-md-4 col-sm-6 col-xs-12 col-lg-3 btn btn-primary " onclick="location.href='{% url 'songs-add' %}'"style="float:right;margin:2%;margin-left:4%">Add a Song</button>
				<button type="button" class="col-md-4 col-sm-6 col-xs-12 col-lg-3 btn btn-success " onclick="location.href='{% url 'songs-update' %}'" style="float:right;margin:2%;margin-left:4%">Update Profile</button>
				<button type="button" class="col-md-4 col-sm-6 col-xs-12 col-lg-3 btn btn-danger " onclick="location.href='{% url 'songs-password' %}'" style="float:right;margin:2%;margin-left:4%">Change Password</button>
			</div>
		{% endif %}
		<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 ">
		<h2 class="text text-capitalize text-success text-center">Total Songs : {{ size }} </h2>
		</div>

	</div>
</div>
<br>
<div class="well songs">
	<legend class="border-bottom mb-4">Your Songs</legend>
	<div class="row">
		{% for song in songs %}
		<div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
			<div class="well mysongs" id="{{song.id}}">
				<h4 style="height: auto;">
					<a href="{% url 'songs-details' song.id %}"style="color:black;">{{ song.title }}</a>
				</h4>
				<hr>
				<p class="mr-2">{{ song.composer }}</p> 
				<small class="text-muted">{{ song.featuring }}</small>
			</div>	
		<br>
		</div>
		{% empty %}
		<div class="container col-md-3 col-sm-6 col-xs-12">
			<div class=" alert alert-danger">
				<strong><h3>You Haven't Added Any Song Yet.</h3></strong>
				<button type="button" class="btn btn-primary" onclick="location.href='{% url 'songs-add' %}'">Add a Song</button>
			</div>
		</div>
			
		{% endfor %}
	</div>
</div>
<script>
$(document).ready(function() {
	$(".songs").find('legend').css("border-color","grey");
  	$(".mysongs").each(function(){	
	var min=200; 
    var max=255;  
    var red = Math.floor(Math.random() * (+max - +min)) + +min; 
	var green = Math.floor(Math.random() * (+max - +min)) + +min;
	var blue = Math.floor(Math.random() * (+max - +min)) + +min;
	var alpha = Math.random();
	$(this).find('hr').css("border-color","grey")
	alpha = alpha*0.9;
	$(this).css("background-color","rgba("+red+","+green+","+blue+","+alpha+")");
	$(this).css("border-color","grey");
	console.log(red,green,blue,alpha);
	});

});
</script>
{% endblock  %}


{% block footer %}


<style>
.foooter {
   position:relative;
   left: 0%;
   width: 100%;
   text-align: center;
   margin-top:10%;
}
.well{
    border-radius:5px;
    border-color:grey;
    margin-bottom:0%;
}
</style>
<footer class="foooter" >
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5  text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
</footer>
{% endblock %}