{% extends "songs/base.html" %}
{% block title %}
LYRICO - Login
{% endblock %}
{% block body %}
<style>
.well{
    border-radius:10px;
    border-color:grey;
    margin-bottom:0%;
}
</style>
<div class="col-md-3"></div>
<div class="jumbotron col-md-6 col-sm-12 col-xs-12 col-lg-6">
	<form  method='POST'>
		{% csrf_token %}
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">@</span>
				<input type="text" class="form-control" id="username" name="username" aria-describedby="basic-addon1" placeholder="Username">
			</div>
		    {% comment %} <label>Username</label>
		    <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Enter username">  {% endcomment %}
	    </div>
	    <div class="form-group">
	        {% comment %} <label >Password</label> {% endcomment %}
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">>></span>
				<input type="password" class="form-control" id="password" name="password" aria-describedby="password" placeholder="Password">
	    	</div>
		</div>
		<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
		<button type="submit" class="btn btn-primary btn-block btn -sm">Log In</button>
		</div>
		<a class="col-md-6 col-sm-12 col-xs-12 col-lg-6 text text-muted text-right" href="{% url 'songs-signup'%}">New User? Sign Up</a>
		</div>
	</form>
</div>


{% endblock %}
<!-- 
username:anshrathod
password:testing123 -->


{% block footer %}


<style>
.foooter {
   position:relative;
   left: 0%;
   width: 100%;
   text-align: center;
   margin-top:18.5%;
}
.well{
  margin-bottom:0%;
}
</style>
<footer class="foooter" >
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6  text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
</footer>
{% endblock %}