{% extends "songs/base.html" %}
{% block title %}
LYRICO - My profile
{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<style>
.well{
    border-radius:10px;
    border-color:grey;
    margin-bottom:0%;
}
</style>
<div class="row songs">
  <div class="well col-md-5 col-sm-12" style="margin:3%">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4 text text-center text-info">Update Your Profile</legend>
      </fieldset>
      <div class="col-md-12  col-sm-12">
          <div class="col-lg-12 col-md-12 col-sm-12"><img class="img-thumbnail" src="{{ user.profile.image.url }}" style="max-width: 100%;border-radius:10px;border-color:black;">
          </div><div class="col-md-12"><br><input class="form-control" type="file" placeholder="Profile-Pic" name="pic" aria-label="Profile_Pic" >
          </div>
      </div >
      <div class="col-md-12  col-sm-12"></div>
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 "><br>
          <input class="form-control mr-sm-3" type="text" name="fname" placeholder="First name" value="{{user.first_name}}" aria-label="Fname"required>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 "><br>
          <input class="form-control mr-sm-3" type="text" name="lname" placeholder="Last name" value="{{user.last_name}}" aria-label="Lname" required><br>
      </div>
      <div class="col-md-12 col-sm-12">
          <input class="form-control mr-sm-3" type="text" name="username" placeholder="Username" value="{{user.username}}"aria-label="Username" disabled>
      </div>
      <div class="col-md-12  col-sm-12">
          <br>
          <input class="form-control mr-sm-3" type="email" name="email" placeholder="Email-id" value="{{ user.email }}"aria-label="Email" disabled>
      </div>
      <div class="col-md-12  col-sm-12">
          <br>
          <textarea type="text" class="form-control mr-sm-3" name="bio" placeholder="Your Bio" aria-label="Bio" rows="3" required>{{ user.profile.bio }}</textarea>
      </div>
      <div class="col-md-12  col-sm-12">
      <br>
          <input type="text" class="form-control mr-sm-3" name="gender" placeholder="Gender" value="{{ user.profile.gender }}" aria-label="Gender" required>
      </div>
      <div class="col-md-12  col-sm-12"><br>
      <input class="form-control mr-sm-3" type="integer" name="age" placeholder="Age" value="{{ user.profile.age }}"aria-label="Age" required>
      </div> 
      <div class="col-md-12">
        <br>
        <button type="submit" class="btn btn-success">Update Profile</button>
        <button type="submit" class="btn btn-danger" onclick="location.href='{% url 'songs-profile' %}'" style="float:right";>Cancel Update</button>
      </div>
    </form>
  </div>
  <div class="well songs col-md-6 col-sm-11 col-xs-11 col-lg-6" style="margin-left:2%;margin-top:3%;">
  <h4>Your Songs</h4><hr>
  {% for song in songs %}
<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 " style="margin-bottom:2%;">
  <div class="well mysongs">
        <h4 style="height: auto;"><a href="{% url 'songs-details' song.id %}">{{ song.title }}</a></h4><hr>
          <p class="mr-2">ft. {{ song.featuring }}</p> 
  </div>
</div>
{% empty %}
<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
  <div class="alert alert-danger">
    <strong><h3>You have not yet added any song yet.</h3></strong>
    <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'songs-add' %}'">Add a Song</button>
  </div>
</div>
  
{% endfor %}
  </div>
</div>

<script>
$(document).ready(function() {
	$(".songs").each(function(){
    $(this).find('legend').css("border-color","grey");
    $(this).find('hr').css("border-color","grey");
  });
  $(".mysongs").each(function(){	
	  var min=200; 
    var max=255;  
    var red = Math.floor(Math.random() * (+max - +min)) + +min; 
    var green = Math.floor(Math.random() * (+max - +min)) + +min;
    var blue = Math.floor(Math.random() * (+max - +min)) + +min;
    var alpha = Math.random();
    $(this).find('hr').css("border-color","grey")
    alpha = alpha*0.9;
    $(this).css("background-color","rgba("+red+","+green+","+blue+","+alpha+")");
    $(this).css("border-color","grey");
    console.log(red,green,blue,alpha);
  });
  $("input").each(function(){	
    $(this).css("border-radius","10px");
    $(this).css("border-color","grey");
    });
});
</script>
{% endblock  %}


{% block footer %}


<style>
.foooter {
   position:relative;
   left: 0%;
   width: 100%;
   text-align: center;
   margin-top:10%;
}
.well{
  margin-bottom:0%;
}
</style>
<footer class="foooter" >
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6  text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
</footer>
{% endblock %}