{% extends "songs/base.html" %}
{% block title %}
LYRICO - Sign Up
{% endblock %}
{% block body %}
<style>
.well{
    border-radius:10px;
    border-color:grey;
    margin-bottom:0%;
}
</style>
<div class="col-md-3"></div>
<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
	<div class="well">
		<div class="row" >
			<div class="col-md-12" style="text-align:left; margi-left:20%;">
				<div class="content-section">
					<form method="POST">
						{% csrf_token %}
						<fieldset class="form-group">
							<legend><h3>Join Today</h3></legend>
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 ">
                    <input class="form-control mr-sm-3" type="text" name="fname" placeholder="First name" value="{{ fname }}" aria-label="Fname" required><br>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 ">
                    <input class="form-control mr-sm-3" type="text" name="lname" placeholder="Last name" value="{{ lname }}" aria-label="Lname"required><br>
                </div>
                <div class="col-md-12 col-sm-12">
                    <input class="form-control mr-sm-3" type="text" name="username" placeholder="Username" value="{{ username }}"aria-label="Username" required>
                    <small class="text text-muted" style="margin:5%;padding:2%"><li>Your username can contain special characters like _ , - , . , @.</li></small>
                </div>
                <div class="col-md-12  col-sm-12">
                    <input class="form-control mr-sm-3" type="email" name="email" placeholder="Email-id" value="{{ email }}"aria-label="Email" required>
                </div>
                <div class="col-md-12  col-sm-12">
                <br>
                    <input type="password" class="form-control mr-sm-3" name="password1" placeholder="Password" value="" aria-label="Password" required>
                    <small class="text text-muted" style="margin:5%;padding:2%"><li>Your password should not be common</li><li>Your password should contain atleast 8 characters</li><li>Your password must contain @ and numbers</li></small>
                </div>
                <div class="col-md-12  col-sm-12">
                    <input type="password" class="form-control mr-sm-3" name="password2" placeholder="Confirm Password" value="" aria-label="Password" required>
                </div>
                <br>
						</fieldset>
						<div class="form-group" style="padding:2% 3% 0 3%">
							<button class="btn btn-success btn-block" type="submit">Sign Up</button>
						</div>
					</form>
					<div class="border-top ">
						<small class="text-muted"  style="padding:2% 3% 0 3%">
							Already have an account?<a href="{% url 'songs-login' %}" class="ml-2">Sign In</a>
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock  %}


{% block footer %}


<style>
.foooter {
   position:relative;
   left: 0%;
   width: 100%;
   text-align: center;
   margin-top:10%;
}
.well{
  margin-bottom:0%;
}
</style>
<footer class="foooter" >
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                  <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-google"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                    <a href="#" class="fa fa-youtube"></a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6  text-center">
                © 2019 Copyright:
                <a href="">lyrico.com</a>  
              </div>
            </div>
        </div>
</footer>


<script>
$(document).ready(function() {
  $("input").each(function(){	
    $(this).css("border-radius","10px");
    $(this).css("border-color","grey");
    });
});
{% endblock %}